[submodule "executor/nlohmann_json"]
	path = executor/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "Executor/nlohmann_json"]
	path = Executor/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "Executor/yalm-cpp"]
	path = Executor/yalm-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Executor/libhttpserver"]
	path = Executor/libhttpserver
	url = https://github.com/etr/libhttpserver
